<!DOCTYPE html>
<html lang="en" ng-app="listaTelefonica">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lista Telefônica</title>
  <style>
    .jumbotron {
       width: 600px;
       text-align: center;
       margin: 20px auto 0;
    }

    .table {
      margin-top: 20px;
    }

    .form-control {
      margin: 20px 0;
    }

    .selecionado {
      background-color: yellow;
    }

    .negrito {
      font-weight: bold;
    }

    form {
      margin-bottom: 20px;
    }

  </style>
  <script src="lib/angular/angular.js"></script>
  <script src="lib/angular/angular-messages.js"></script>
  <script src="lib/angular/angular-locale_pt-br.js"></script>
  <link rel="stylesheet" href="lib/bootstrap/bootstrap.css">
  <script>
    var app = angular.module("listaTelefonica", ["ngMessages"]);

    app.controller("listaTelefonicaCtrl", function($scope, uppercaseFilter){
      $scope.app = "Lista Telefônica"
      $scope.contatos = [
        {nome: uppercaseFilter("Pedro"), telefone: "99998888", data: new Date(), operadora: {nome: 'Oi', codigo: 14, categoria: "Celular"}, cor: "blue"},
        {nome: "Ana", telefone: "33332222", data: new Date(), operadora: {nome: 'Vivo', codigo: 15, categoria: "Celular"}, cor: "yellow"},
        {nome: "Maria", telefone: "99995555", data: new Date(), operadora: {nome: 'Claro', codigo: 21, categoria: "Fixo"}, cor: "red"},
      ]
      $scope.operadoras = [
        {nome: 'Oi', codigo: 14, categoria: "Celular", preco: 2},
        {nome: 'Vivo', codigo: 15, categoria: "Celular", preco: 1},
        {nome: 'Tim', codigo: 41, categoria: "Celular", preco: 3},
        {nome: 'GVT', codigo: 25, categoria: "Fixo", preco: 1.5},
        {nome: 'Embratel', codigo: 21, categoria: "Fixo", preco: 0.8},
      ]
      $scope.adicionarContato = function (contato) {
        $scope.contatos.push(angular.copy(contato));
        $scope.contatoForm.$setPristine()
        delete $scope.contato
      }
      $scope.apagarContatos = function (contatos) {
        $scope.contatos = contatos.filter( function(contato) {
          return !contato.selecionado
        })
      }
      $scope.isContatoSelecionado = function (contatos) {
        return contatos.some(function(contato) {
          return contato.selecionado
        })
      }
      $scope.ordenarPor = function (campo) {
        $scope.criterioDeOrdenacao = campo
        $scope.direcaoDaOrdenacao = !$scope.direcaoDaOrdenacao
      }
    })
  </script>
</head>
<body ng-controller="listaTelefonicaCtrl">
    <div class="jumbotron">
      <h3>{{app}}</h3>
      <input class="form-control" type="text" ng-model="criterioDeBusca" placeholder="O que você está buscando?">
      <table ng-show="contatos.length > 0" class="table">
        <tr>
          <th></th>
          <th><a href="" ng-click="ordenarPor('nome')">Nome</a></th>
          <th><a href="" ng-click="ordenarPor('telefone')">Telefone</a></th>
          <th>Operadora</th>
          <th>Data</th>
        </tr>
        <tr ng-class="{'selecionado negrito': contato.selecionado}" ng-repeat="contato in contatos | filter: criterioDeBusca | orderBy: criterioDeOrdenacao:direcaoDaOrdenacao">
          <td><input type="checkbox" ng-model="contato.selecionado" /></td>
          <td>{{contato.nome}}</td>
          <td>{{contato.telefone}}</td>
          <td>{{contato.operadora.nome | lowercase}}</td>
          <td>{{contato.data | date:'dd/MM/yyyy hh:mm'}}</td>
        </tr>
      </table>
      <hr/>
      <form name="contatoForm">
        <input class="form-control" type="text" placeholder="Nome" name="nome" ng-model="contato.nome" ng-required="true" ng-minlength="10">
        <input class="form-control" type="text" placeholder="Telefone" name="telefone" ng-model="contato.telefone" ng-required="true" ng-pattern="/^\d{4,5}-\d{4}$/">
        <select
          class="form-control"
          ng-model="contato.operadora"
          ng-options="operadora.nome + ' ( ' + (operadora.preco | currency) + ' )' for operadora in operadoras | orderBy:'nome'"
          ng-required="true">
          <option value="">Selecione uma operadora</option>
        </select>
        <button
          class="btn btn-primary btn-block"
          ng-click="adicionarContato(contato)"
          ng-disabled="contatoForm.$invalid">
          Adicionar Contato
        </button>
        <button
          class="btn btn- danger btn-block"
          ng-click="apagarContatos(contatos)"
          ng-if="isContatoSelecionado(contatos)">
          Apagar Contatos
        </button>
      </form>

      <div ng-messages="contatoForm.nome.$error" class="alert alert-danger">
        <div ng-message="required">
          Por favor preencha o campo nome!
        </div>
        <div ng-message="minlength">
          O campo nome deve ter no minímo 10 caracteres
        </div>
      </div>
      <div ng-messages="contatoForm.telefone.$error" class="alert alert-danger">
        <div ng-message="required">
          Por favor preencha o campo telefone!
        </div>
        <div ng-message="pattern">
          O campo telefone deve ter o formato 9999-9999 ou 99999-9999
        </div>
      </div>
      {{contato}}
    </div>
    <div ng-include="'footer.html'"></div>
</body>
</html>